{% block main_menu %}

<ul class="main_menu header_menu">
    {% for link in main_menu %}
    <li>
        <a href="{% url link.href %}" class="{% if request.resolver_match.url_name == link.href %} 
                           activ_link 
                       {% endif %}">
            {{ link.name }}
        </a>
    </li>
    {% endfor %}


    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            {{ user.first_name|default:'USER' }}
        </a>
    </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">LOGOUT</a>
        {% else %}
        <a href="{% url 'auth:login' %}">LOGIN</a>
        {% endif %}
    </li>

</ul>

{% endblock %}

