{% extends 'interiorapp/base.html' %}

{% load static %}

{% block container %}

            <div class="slider_top_product padding_site">
               {% block logo_main_menu %}{{block.super}} {% endblock %}
                <div class="slider_text slider_text_product">
                    <h2>Our Products Range</h2>
                </div>
            </div>
            
            <ul class="header_menu header_menu_product">
                <li><a class="activ_link" href="#">All</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">OFFICE</a></li>
                <li><a href="#">FURNITURE</a></li>
                <li><a href="#">MODERN</a></li>
                <li><a href="#">CLASSIC</a></li>
            </ul>
 
                <div class="trending_img padding_site">
                {% for item in items_list %}
                   
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-11.jpg" alt="">  
            </a>
                {% endfor %}
                </div>
                                       
<!--
                <div class="trending_img padding_site">
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-11.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-21.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-31.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-41.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-5.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-6.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-11.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-21.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-31.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-41.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-5.jpg" alt="">  
            </a>
                    <a href="#"> 
                <img class="trending_img_product select" src="/static/img/product-6.jpg" alt="">  
            </a>

                </div>
-->

                <div class="exclusive">
                    <div class="exclusive_img_product_1">
                        <div class="exclusive_text">
                            <h4>exclusive</h4>
                            <h2>Fishnet Chair</h2>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                            <a class="order_us" href="product_details">Order us &gt;</a>
                        </div>
                    </div>

                    <div class="exclusive_img_product_2">
                        <div class="exclusive_text">
                            <h4>exclusive</h4>
                            <h2>Fishnet Chair</h2>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                            <a class="order_us" href="product_details">Order us &gt;</a>
                        </div>
                    </div>
                </div>

{% block footer %}{{block.super}} {% endblock %} 

{% endblock %}
